*{
    text-decoration: none;  
}
.icon-name{
    color: white;
}
.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0; 
    width: 72px;
    z-index: 2;
    padding-top: 5px;
    background-color: rgb(200, 78, 57);
    
}
.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    
}
.sidebar-link:hover{
    background-color: rgb(145, 41, 41);
}
.sidebar-link div{
    font-family: Roboto,Arial;
    color: white;
    font-size: 10px;
}