@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.logo{
    font-size: 1.1rem;
    font-weight:600px;
    color: #d5764d;
    text-transform: uppercase;
}
.logo span{
    color: #4fa346;
    font-weight: 700;
}
#cart-icon{
    font-size: 1.8rem;
    cursor: pointer;
}
body {
    width: 100%;
    margin-left:70px; 
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #2b2828;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.header_fixed {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #423c3c;
}

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: black;
    color: #e6e7e8;
    font-size: 15px;
}

th,
td {
    border-bottom: 1px solid #000000;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
}

td img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #1e1f21;
}

tr:nth-child(even) {
    background-color: #494949;
}

tr:nth-child(odd) {
    background-color: #2f3031;
}

tr:hover td {
    color: #44b478;
    cursor: pointer;
    background-color: #000000;
}

td button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: #d5764d;
    color: #e6e7e8;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}